
.game-letter-box{
    display:inline-block;
    width: 60px;
    height:60px;
    border:1px solid gainsboro;
}

.game-letter{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: 400;
    text-align: center;
    padding-top:15px;
}

.filled{
    background-color: rgb(25, 130, 95);
    color:white;

}

.busy{
    background-color: rebeccapurple;
    color:whitesmoke;
}

.selected{
    border:1px solid yellowgreen;
}