.App{
  font-family: 'Ubuntu';
  font-weight: 300;
  background-color: #e7e7e7;
  min-height: 100vh;
  padding: 10px;
}

.game-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(31, 31, 31);
  margin-bottom: 20px;
}