.startButton{
    width:100%;
}
.gameTitle{
    padding:30px;
}

.logo{
    max-width:350px;
}
.col .btn{
    width:95%;
    padding:5px;
    text-align: center;
}
.formStart{
    text-align: center;
}
*{
    font-family: 'Ubuntu';
}

.game-error{
    color:red;
}

.intro-game-elements{
    text-align: left;
    padding:10px;
}